---
import BaseHead from "../components/BaseHead.astro";
const { title } = Astro.props;
---

<html
	lang="en"
	class="scroll-smooth selection:bg-pink-100 selection:text-black no-touchevents hydrated"
>
	<head>
		<BaseHead title={title} />
	</head>

	<body class="bg-white">
		<slot />
	</body>
</html>
